[project]
[access "refs/heads/*"]
	create = group Samsung QCOM Team
	forgeAuthor = group Samsung QCOM Team
	forgeCommitter = group Samsung QCOM Team
	push = group Samsung QCOM Team
	pushMerge = group Samsung QCOM Team
	label-Code-Review = -2..+2 group Samsung QCOM Team
	label-Verified = -1..+1 group Samsung QCOM Team
	submit = group Samsung QCOM Team
[submit]
	action = rebase if necessary
