#
# Copyright (c) 2011 Samsung Electronics Co., Ltd.
# 		http://www.samsung.com/
# Aakash Manik
#	aakash.manik@samsung.com


config VIDEO_MHL_V2
	bool "Samsung Mobile HD Link Interface"
	depends on MSM_VIDC && ARCH_MSM
	default n
	---help---
	  This is a MHL v2 driver customized for Qualcomm MSM8960 based chipsets.

config MHL_D3_SUPPORT
        bool "Samsung Mobile HD Link Interface"
        default n
        ---help---
          This is a D3 mode in MHL v2 driver.
