#
# Copyright (c) 2011 Samsung Electronics Co., Ltd.
#				http://www.samsung.com/
# Aakash Manik
#	aakash.manik@samsung.com
#


config VIDEO_MHL_V2
	bool "Samsung Mobile HD Link Interface"
	depends on MSM_VIDC && ARCH_MSM
	default n

config MHL_D3_SUPPORT
	bool "Support D3 mode in mhl"
	default n

config MHL_NEW_CBUS_MSC_CMD
	bool "Read DCAP for distinguish TA and USB"
	default n
	---help---
	  This is a MHL v2 driver customized for Qualcomm MSM8960 based chipsets.
